<div class="container mt-4">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card user-card">
        <div class="card-header text-center text-light">
          <h5>Wizard Data</h5>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="form-group mt-3">
              <label class="font-weight-bold">Wizard Username:</label>
              <p id="username" class="form-group">{{ user.username }}</p>
            </div>
            <div>
              @if (adminCheck === 'true') {
                <div class="btn delete register" (click)="deleteThisUser()">Delete Account</div>
              }
            </div>
          </div>
          <div class="form-group mt-1">
            <label class="font-weight-bold">Tester:</label>
            @if (adminCheck === 'true') {
              <br>
              <input type="checkbox" [(ngModel)]="user.tester" />
            }
            @if (adminCheck !== 'true') {
              <p>{{ user.tester ? 'Sí' : 'No' }}</p>
            }
            
          </div>
          <div class="form-group mt-3">
            <label class="font-weight-bold">Creator:</label>
            @if (adminCheck === 'true') {
              <br>
              <input type="checkbox" [(ngModel)]="user.creator" />
            }
            @if (adminCheck !== 'true') {
              <p>{{ user.creator ? 'Sí' : 'No' }}</p>
            }
          </div>
          @if (adminCheck === 'true') {
            <div class="form-group mt-3">
              <button class="btn btn-primary" (click)="savePrivileges()">Save</button>
            </div>
          }
          <div class="form-group mt-3">
            <label class="font-weight-bold">Spells:</label>
            <ul class="list-group">
              @if (user.exercises.length == 0) {
                <p>Learn Spells</p>
              }
              @else {
                @for (exercise of exercisenames;track exercisenames) {
                  <li [routerLink]="['/problem', exercise.id]" class="list-group-item">
                    {{ exercise.title }}
                  </li>
                }
              }
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
