<div
  class="container d-flex align-items-center justify-content-center"
  style="height: 80vh"
>
  <div class="form-box" style="min-height: 100px">
    <div class="p-4 w-100">
      <h1>Sign Up</h1>
      <div class="d-flex justify-content-start align-items-center">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <input type="text" formControlName="username" placeholder="Username"/>
            <div class="error-feedback">
              @if (signupForm.controls['username'].touched &&
              signupForm.controls['username'].hasError('required')) {
              <span>Please enter a valid name</span>
              }
            </div>
            <div class="error-feedback">
              @if (signupForm.controls['username'].touched &&
              signupForm.controls['username'].hasError('pattern')) {
              <span>Please enter a valid name</span>
              }
            </div>
          </div>
          <div class="mb-3">
            <input type="password" formControlName="password" placeholder="Password"/>
            <div class="error-feedback">
              @if (signupForm.controls['password'].touched &&
              signupForm.controls['password'].hasError('required')) {
              <span>Please enter a valid password</span>
              }
            </div>
          </div>
          <div class="mb-3">
            <input type="password" formControlName="confirm" placeholder="Confirm password"/>
            <div class="error-feedback">
              @if (signupForm.controls['confirm'].touched &&
              signupForm.value.confirm!==signupForm.value.password) {
              <span>The password must be the same</span>
              }
            </div>
          </div>
          <div class="mb-3">
            <button
              type="submit"
              class="btn register"
              [disabled]="!signupForm.valid || signupForm.value.confirm!==signupForm.value.password"
            >
              Sign Up
            </button>
          </div>
          <div class="error-feedback">
            @if (registeredUsernameError) {
            <span>This username allready exists in the magic realm</span>
            }
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
