.home-text {
    font-family: 'Cinzel', serif;
    color: #c9c9c9;
    background-color: #312339;
    border-radius: 5px;
    border: #455169 2.5px solid;
    box-shadow: 0 0 20px rgba(84, 64, 94, 0.5);
    animation: pulsate 3s infinite alternate;
    text-align: center;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
    color: #aeaeae;
    text-shadow: 0 0 10px rgba(123, 104, 238, 0.5), 0 0 20px rgba(72, 61, 139, 0.4); 
    animation: glow 2s infinite alternate;
}