<div class="container d-flex justify-content-center align-items-center mt-4">
        <div class="home-text p-3 justify-content-center">
            <p>
            You find yourself in CodeGuard, the mystical academy where wizards from around the world come to hone their craft and master the most complex spells. Here, instead of solving common problems, you will face magical challenges and unveil legendary spells, from simple enchantments to the most intricate spells.
            <br>
            <br>
            Get ready to put your skill, creativity, and magical prowess to the test. Each spell you solve will improve your skill, unlock new grimoires, and gain you prestige in the sorcerer's community. Show off your talent, strengthen your knowledge runes, and become the archmage you are destined to be!
            <br>
            <br>
            Get yourself in, conjurer, and begin your path to greatness. The power of the arcanum awaits you!
            </p>
        </div>
</div>


